html{background:linear-gradient(#faffff,white);color:#356}
body{margin:0 auto;max-width:800px;font-size:16px;font-family:system-ui,sans-serif}
body>h1{display:inline-block;margin:16px 0;padding-right:9.5em;font:inherit;font-weight:bold}
body>h1>a{color:#08c}
#\$e{border-radius:8px 8px 0 0;border:solid 1px #eef;background:#fff;color:#000}
#\$e:empty,#\$e[contenteditable]{padding:16px;outline:0}
.ql-editor{min-height:100%;margin:16px;outline:0}
.ql-clipboard{display:none}
#\$e:empty::before,.ql-blank::before{content:"Pen your portable prose..";position:absolute;opacity:.2;pointer-events:none}
.h{position:fixed;top:0;bottom:0;left:50%;width:100lvw;max-width:1600px;transform:translateX(-50%);font:inherit;pointer-events:none}
.h>*{position:relative;margin:16px}
.h>*>*{pointer-events:all}
.h button:hover{background:#4cc}
.h button,.h button:active{margin-bottom:4px;padding:8px;border:0;border-radius:4px;font:inherit;font-weight:bold;background:#3aa;color:#fff;cursor:pointer}
.h input{font:inherit}
.x{position:absolute;top:0;right:0;text-align:right}
#\$o{display:none}